[Unit]
Description=Node.js Trucker Service         
After=network.target
Requires=After=mysql.service       # Requires the mysql service to run fir>

[Service]
WorkingDirectory=/home/ubuntu/trucker
ExecStart=npm start
Restart=on-failure

Environment=NODE_ENV=development PORT=80 DB_USER=chibuzo DB_PASSWORD=my+s3cretDb# DB_HOST=44.202.106.89 DB_NAME=truck


[Install]
WantedBy=multi-user.target

#sudo nano /lib/systemd/system/trucker.service
#sudo systemctl daemon-reload
#sudo systemctl enable trucker
