doctype html
head
  // Site Title
  title Osman Delivery
  meta(name='format-detection' content='telephone=no')
  meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(charset='utf-8')
  link(rel='icon' href='images/favicon.ico' type='image/x-icon')
  // Stylesheets
  link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Oswald:200,400%7CLato:300,400,300italic,700%7CMontserrat:900')
  link(rel='stylesheet' href='/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/truck.css')
  link(rel='stylesheet' href='/css/mdi.css')
  link(rel='stylesheet' href='/css/fl-bigmug-line.css')
  style.  
    .jumbotron {
        background:url(/images/landing-trucking-slider-3.jpg);
        background-size: cover;
        height: 100vh;
    }

    .button-default-outline:hover {
        background-color: #666 !important;
        color: #fff;
        border: 2px solid #666;
    }

  //if lt IE 10
    div(style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;')
      a(href='https://windows.microsoft.com/en-US/internet-explorer/')
        img(src='images/ie8-card/warning_bar_0000_us.jpg' border='0' height='42' width='820' alt='You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.')
    script(src='js/html5shiv.min.js')
// Page preloader
.page-loader
  .page-loader-body
    .page-loader__logo
      img(src='/images/logo.png' alt='' width='143' height='36')
    .preloader-wrapper.big.active
      .spinner-layer.spinner-blue
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle
      .spinner-layer.spinner-red
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle
      .spinner-layer.spinner-yellow
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle
      .spinner-layer.spinner-green
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle
// Page
.page
  // Page Header
  header.section.page-header
    // RD Navbar
    .rd-navbar-wrap.rd-navbar-corporate
      nav.rd-navbar(data-layout='rd-navbar-fixed' data-sm-layout='rd-navbar-fixed' data-md-layout='rd-navbar-fixed' data-lg-layout='rd-navbar-fullwidth' data-xl-layout='rd-navbar-static' data-xxl-layout='rd-navbar-static' data-md-device-layout='rd-navbar-fixed' data-lg-device-layout='rd-navbar-static' data-xxl-stick-up-offset='130px' data-md-stick-up-offset='100px' data-stick-up='true' data-sm-stick-up='true' data-md-stick-up='true' data-lg-stick-up='true')
        .rd-navbar-collapse-toggle(data-rd-navbar-toggle='.rd-navbar-collapse')
          span
        
  // slider
  section.section
    .swiper-form-wrap
      .jumbotron
        img.logo-default(src='/images/logo.png' alt='' width='143' height='36')
        .container.container-bigger.swiper-main-section(style='padding-top: 120px')
            .row.justify-content-sm-center.justify-content-md-start.row-ten
                .col-md-6.col-lg-4.col-xxl-3.text-white
                    
                    h3.text-white.mt-0 OSMAN DISTRIBUTION
                    p.heading-5.text-white(data-caption-animate='fxBlurInRight' data-caption-delay='350') Reliable and efficient transportation solutions for furniture stores
                    a.button.button-default-outline(href='/register') Sign Up

        
      .container.container-bigger.form-request-wrap
        .row.justify-content-sm-center.justify-content-lg-end.row-ten
          .col-lg-4.col-xxl-3
            block content


footer.section.page-footer.page-footer-minimal.text-center.bg-gray-darker
    .container.container-wide
      .row.justify-content-sm-center.align-items-md-center.row-30
        .col-md-10.col-lg-7.col-xl-4.text-xl-left
          
        .col-md-10.col-lg-7.col-xl-4
          p.right
            | &copy;&nbsp;
            span.copyright-year
            |  All Rights Reserved&nbsp;
            
        .col-md-10.col-lg-7.col-xl-4.text-xl-right
          
// Javascript
script(src='/libs/jquery/dist/jquery.min.js')
script(src='/js/script.js')
script. 


