extend layout 

block content 
    .container
        .row.justify-content-md-center 
            .col-md-6.mt-5.text-center 
                h4 Sign Up Successful
                br/
                .alert.alert-success.text-center.mt-4
                    i.fa.fa-check-circle.fa-4x
                    br/ 
                    | Thank you for signing up. 
                    br/ A mail has been sent to you to verify your email address