extends layout

block content
    .container
        .row.justify-content-md-center.py-5.my-5
            .col-7.text-center
                span.fa.fa-exclamation-circle.mb-4(style="font-size: 50px")
                .alert.alert-warning #{message}

                br/
                a.btn.btn-outline-warning.btn-lg(href=`${url_referrer}`) Go Back
